.movie {
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 15px -8px rgba(0, 0, 0, 0.3);
}
.movie img {
    width: 90%;
}
.movie h2 {
    text-align: center;
}
.movie ul {
    position: absolute;
}
